In [10]:
a,b =100000,2.3

In [11]:
type (a)

int

In [12]:
type (b)

float

In [13]:
x =a+b

In [14]:
print (x)

100002.3

In [15]:
5+2*3-4/2

9.0

In [16]:
(5+2)*(3-4)/2

-3.5

In [17]:
e= input('enter data : ')

enter data : asd

In [18]:
type (e)

str

In [20]:
 num1 = input(' enter the 1st number ')
num2 = input(' enter the 2nd number ')
num1 = float(num1)
num2 = float(num2)
print('sum = ',num1+num2)
print('sub = ',num1-num2)
print('div = ',num1/num2)
print('mul = ',num1*num2)

 enter the 1st number 12
 enter the 2nd number 13
sum =  25.0
sub =  -1.0
div =  0.9230769230769231
mul =  156.0

In [21]:
p=5

In [22]:
l=5

In [23]:
p==l

True

In [ ]:
p is l

In [1]:
age = input(' enter your age : ')
Gender = input(' enter your gender : ')
age = float (age)
if age >= 18 and (Gender =='male' or Gender =='m') :
    print('OK')
elif age < 18 and (Gender =='male' or Gender =='m'):
    print ('you cant do that')
elif age >= 18 and (Gender =='female' or Gender =='f'):
    print('ok')
elif age < 18 and (Gender =='female' or Gender =='f'):
    print('you cant do that')
else :
    print ('undefind gender')

 enter your age : 20
 enter your gender : f
ok

In [4]:
num1 = input('enter your 1st number')
num2 = input('enter your 2nd number')
op = input('enter the opratian')
num1= float (num1)
num2= float (num2)
if op == '+':
    res=num1+num2
    print("SUM = ", res)
elif op =='*' or 'X' or 'x':
    res = num1*num2
    print("MUL = ", res)
elif op =='/' or '\\':
    res=num1/num2
    print("DVI = ", res)
elif op == '-':
    res=num1-num2
    print("SUB = ", res)

enter your 1st number5
enter your 2nd number5
enter the opratianx
MUL =  25.0

In [7]:
namesT = ('hassan' , 'ali' , 'waled')
ages =['20' , '30' , '40']
print (len(namesT))
print(namesT)
print(max(namesT))
ages.index

3
('hassan', 'ali', 'waled')
waled

In [12]:
ages = list(ages)

In [13]:
ages

['20', '30', '40']

In [14]:
type(ages)

list

In [15]:
ages.append(90)

In [16]:
ages = tuple(ages)

In [17]:
ages

('20', '30', '40', 90)

In [18]:
type(ages)

tuple

In [19]:
list1 = { 'name' , 'gender' , 'age'}

In [21]:
dic1 =dict.fromkeys(list1)

In [22]:
dic1

{'age': None, 'gender': None, 'name': None}

In [15]:
name = input (' enter your name ')
number= 3
masge = 'welcome MR %s python %d' % (name , number)
for s in range(len(masge)):
    print(masge[s])

 enter your name hassan
w
e
l
c
o
m
e

M
R

h
a
s
s
a
n

p
y
t
h
o
n

3

In [14]:
msg = ('wlcome to python')
for s in range(len(msg)):
    print(msg[s])

w
l
c
o
m
e

t
o

p
y
t
h
o
n

In [18]:
dic2 = {'name' : 'hassan','gender' : 'male' , 'age' : 21}
for key , value in dic2.items():
    print (key,",",value )

name , hassan
gender , male
age , 21

In [1]:
num = input('enter a number:')
while num !='0':
    print ('continue')
    num = input('enter a number:')
print ('the end')

enter a number:2
continue
enter a number:0
the end

In [5]:
for i in range(0,5):
    print('*',end=' ')

* * * * *

In [10]:
for line in range (2):
    for i in range(0,5):
        print('*' ,end = ' ' )
    print ('\n')

* * * * *

* * * * *

In [17]:
word = 'hassan'
for g in word :
    if g == 'a':
        continue
    print(g)

h
s
s
n

In [3]:
def hassan(row = 1 , col =1):
    for line in range(row):
        for i in range(col):
            print ('*', end = ' ')
        print('\n')

In [4]:
hassan()
print ('welcome to the python \n')
hassan()

*

welcome to the python

*

In [17]:
def change(x):
    "pla pla pla"
    x = [1,2,3,4]
    print("values inside the function :", x)
    
mylist=[ 10 , 20 , 30];
change(mylist);
print("valus outside the function" , mylist)

values inside the function : [1, 2, 3, 4]
valus outside the function [10, 20, 30]

In [14]:
total = 0

def sub( num1 , num2):
    global total
    total= num1 - num2
    print("outside the local " , total)
    
sub(40,10)
print("print the global total" , total)

outside the local  30
print the global total 30

In [18]:
totalo = 0

def subb( num1 , num2):
    total= num1 - num2
    print("outside the local " , total)
    return(total)
    
def summ( num1 , num2):
    total= num1 + num2
    print("outside the local " , total)
    return(total)

In [19]:
summ = summ (10,20)
subb = subb(10,20)
print("print the global total ",total)
print("print the global summ ",summ)
print("print the global sub ",sub)

outside the local  30
outside the local  -10
print the global total  30
print the global summ  30
print the global sub  <function sub at 0x000001E3ED918550>

In [11]:
def max_two_numbers(num1,num2) :
    if num1 > num2:
        return (num1)
    else :
        return (num2)
        
    
def max_three_numbers (num1,num2,num3):
     m = max_two_numbers(num1,num2)
     fin = max_two_numbers(m,num3)
     return(fin)
    
num1 = input('enter the firest number :')
num2 = input('enter the sacend number :')
num3 = input('enter the theerd number :')
res = max_three_numbers(num1,num2,num3)
print('max = ',res)

enter the firest number :10
enter the sacend number :20
enter the theerd number :30
max =  30

In [14]:
def uniquelist(nonuniquelist):
    res = []
    for n in nonuniquelist :
        if n not in res :
            res.append(n)
    return(res)

numbers = [1,1,1,85,4,894,51,23,186,4,123,1,1,12,56,7,8,456,1,5,5,9,9,5]
hassan = uniquelist(numbers)
print(hassan)

[1, 85, 4, 894, 51, 23, 186, 123, 12, 56, 7, 8, 456, 5, 9]